@page
@model BUMS.GetUserGroupModel
@{
}
<h3 style="color:black">UserGroups</h3>
<p>
    <a asp-page="/UserGroup/CreateUserGroup">Create New UserGroup</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>  UserGroup Id </th>
            
        </tr>
    </thead>
    <tbody>

        @if (Model.UserGroups!= null)
        {
          @foreach (var item in Model.UserGroups)
          {
        <tr>
            <td> @item.UserGroupID </td>
            
        </tr>
            }
        }
</table>