@page
@model BUMS.GetUserGroupModel
@{
ViewData["Title"] = "User groups";
}
<h3>UserGroups</h3>
<table class="table">
    <thead>
        <tr>
            <th>UserGroup Id</th>
            <th>User</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.UserGroups!= null){
        @foreach (UserGroup ug in Model.UserGroups){
        <tr>
            <td>@ug?.UserGroupID </td>
            <td>@ug?.User?.UserName</td>
            <td>@Model.GetGroup(ug.GroupID).GroupName</td>
        </tr>
        }
        }
</table>
