@page
@model BUMS.Pages.Create.CreateModel
@{
}
<h1>Create</h1>

<div>
    <a asp-page="/User/CreateUser">Create a new user</a>
</div>
<div>
    <a asp-page="/Group/CreateGroup">Create a new group</a>
</div>
