@page
@model BUMS.ShowUserGroupModel
@{
}

<h3 style="color:black">Groups</h3>
<div>
    <dl class="row">     
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Group Name</th>
                    <th>UserGroup</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.User.UserGroup)
                {
                <tr>
                    <th>@Html.DisplayFor(modelItem => item.Group.GroupName)</th>
                    <td>@item.UserGroupID</td>
                </tr>
                }

                </tbody>
            </table>
            <p>
                Add user to a group? Please Click here:
                <a asp-page="/Group/GetGroup" asp-route-uid="@Model.User.Id">Add to a group</a>
            </p>
        </dd>
    </dl>
</div>

