@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>BUMS</h1>
    <img src="/Pictures/BUMSLogo.jpg" alt="BUMS Logo">
    <h2>Bitmax User Management System</h2>
    <p>Select options in top bar</p>
</div>
