@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BUMS</h1>
    <h2>Bitmax User Management System</h2>
    <p>Select options in top bar</p>
</div>
